// .game-three img{
//     width: 200px; 
// }
.game-three--hover {
    height: 100%;
}

.game-three--hover {
    height: 100%;
    .card-header {
        height: 250px;
        img {
            height: 100%;
        }
    }
}

.game-three--hover:hover {
    transform: translateY(-20px);
    transition: 0.3s ease-in;
}